@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&family=Inter:wght@300;400;500;600&display=swap");

@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-mono: "DM Mono", monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  background: #f8f8f6;
  color: #202020;
}

* {
  box-sizing: border-box;
}
